@model MT.GridView.Models.GridIndexViewModel<MT.GridView.Models.Customer>

@*Write Returned Data details here*@
<span class="gridview-data-details" style="display:none;">@Html.Raw(Model.JsonPagingInfo)</span>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="gridview-list-header">
            <th>@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Id))</th>
            <th class="sortable" data-sort="CompanyName">@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().CompanyName))</th>
            <th class="sortable" data-sort="ContactTitle">@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().ContactTitle))</th>
            <th class="sortable" data-sort="Country">@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Country))</th>
            <th class="sortable" data-sort="City">@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().City))</th>
            <th>@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Address))</th>
            <th>@(Html.DisplayNameFor(x => x.Data.FirstOrDefault().Phone))</th>
            <th class="sortable" data-sort="Founded">@Html.DisplayNameFor(x=> x.Data.FirstOrDefault().Founded)</th>
        </tr>
    </thead>

    <tbody id="CustomersTable" class="gridview-list-items">
        @if (Model.Data.Any())
        {
            foreach (var c in Model.Data)
            {
                <tr>
                    <td class="value">@c.Id</td>
                    <td class="value">@c.CompanyName</td>
                    <td class="value">@c.ContactTitle</td>
                    <td class="value">@c.Country</td>
                    <td class="value">@c.City</td>
                    <td class="Description">@c.Address</td>
                    <td class="value">@c.Phone</td>
                    <td>@c.Founded</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Warning!</strong> No Customers Found!
                    </div>
                </td>
            </tr>
        }

        @Html.Raw(ViewBag.Script)
    </tbody>

</table>
